<!DOCTYPE html>
<html>
 <head> <title> REcyclo Profile </title> <link rel="stylesheet" href="/static/profile.css">
 </head>
<body>
    <header>
        <h1 class="Logo">Test Logo</h1>
    </header>
    
    <div class="box">
    
        <div class="pfp">
            <img src="/pictures/Pfp.jpg">
        </div>
        
        <div class="Point">
            <h2>XXXX pts</h2>
        </div>
        
        <div class="Usrnm">
            <h3>Username: Your name</h3>
        </div>

        <div class="Achievements">
            <h4>Acheivements</h4>
        </div>
    </div>


    <div class="footer">
        <div class="t1">
            <h1>rewards</h1>
        </div>

        <div class="t2">
            <h2>map</h2>
        </div>

        <div class="t3">
            <h3>About us</h3>
        </div>
    </div>
</body>

</html>