header {
      background-color: rgb(80, 122, 87);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.body {
    padding-top: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    text-align: center;
}
 
.Logo {
    display: flex;
    justify-content: center;
}

.pfp {
    margin-bottom: 20px;
}

.pfp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(80, 122, 87);
}

.Point, .Usrnm, .Achievements {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.Point h2 {
    color: black;
    font-size: 28px;
}

.Usrnm h3 {
    color: black;
    font-size: 20px;
}

.Achievements h4 {
    color: black;
    font-size: 24px;
    margin-top: 30px;
}

.box {
  padding: 80px;
  border-radius: 10px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(80, 122, 87);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;

}