header {
    background-color: rgb(80, 122, 87);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%

}

body {
 padding-top: 70px;
 padding-bottom: 100px;
}

.Logo {
    display: flex;
    justify-content: center;
}

.h1 {
    text-align: center;
    font-size: 36px;
    color: black;
    margin: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 200px;
  row-gap: 100px;
}

.reward-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.reward-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.reward-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(80, 122, 87);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;

}