<!DOCTYPE html>
<html>
<head>
    <title>RecycleU Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1 class="Logo">RecycleU</h1>
    </header>
    <div class="box">
        <div class="Lr">
            Login or register
        </div>

        <div class="email space">
            <input type="email" id="email-input" placeholder="Email">
        </div>

        <div class="name space">
            <input type="text" id="name-input" placeholder="Full name">
        </div>

        <div class="password space">
            <input type="password" id="password-input" placeholder="Password">
        </div>
        
        <div class="remember me">
            <input type="checkbox"> Remember me <a href="#">Forget Password?</a>
        </div>
        <div style="display:flex; gap:10px; margin-top:10px;">
            <button type="button" onclick="handleLogin()">Login</button>
            <button type="button" onclick="registerUser()">Register</button>
        </div>

        <!-- Profile Section -->
        <div id="profile-content"></div>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>
