<!DOCTYPE html>
<html>
<head>
    <title>RecycleU Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    <header>
        <h1 class="Logo">Test Logo</h1>
        
        <div class="header-nav">
            <a href="{{ url_for('pages.profile_page') }}" class="nav-btn">Profile</a>
            <a href="{{ url_for('pages.qr_page') }}" class="nav-btn">QR</a>
            <a href="{{ url_for('pages.recycle_page') }}" class="nav-btn">Recycle</a>
        </div>
        
        <button class="logout-btn" onclick="handleLogout()">Logout</button>
    </header>
    
    <div class="box">
        <div class="pfp">
            <img src="{{ url_for('static', filename='pictures/Pfp.jpg') }}" alt="Profile picture">
        </div>
        <div id="profile-content">
            <p>Loading profile...</p>
        </div>
        <div class="donation-message">
            <p>Total Points: <span id="profilePoints">0</span></p>

            <p>Want to help grow your community? Log your recycling items at nearby drop points to bring awareness, and help make a real environmental impact in your area.</p>
            <a href="{{ url_for('pages.points_page') }}" class="donate-link">Go to Nearby Drop Point →</a>
        </div>
    </div>

    <nav class="bottom-nav">
        <a href="{{ url_for('pages.rewards_page') }}" class="nav-item">Rewards</a>
        <a href="{{ url_for('pages.street_page') }}" class="nav-item">Map</a>
        <a href="{{ url_for('pages.profile_page') }}" class="nav-item active">Profile</a>
        <a href="{{ url_for('pages.about_page') }}" class="nav-item">About</a>
    </nav>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>

</body>
</html>