<!DOCTYPE html>
<html>
 <head> <title> REcyclo Redeem </title> <link rel="stylesheet" href="/static/redeem.css">
 </head>
<body>
    <header>
        <h1 class="Logo">Test Logo</h1>
    </header>
    <div> 
    <h1 class="h1">
        Rewards!
    </h1>
    </div>
    
<div class="grid">
    <div class="reward-item">
        <img src="/pictures/T-shirt.png">
        <div class="reward-text">t-shirts</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Green hoodie.png">
        <div class="reward-text">hoodies</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Green bag.jpg">
        <div class="reward-text">bags</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Green cap.png">
        <div class="reward-text">caps</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Google.png">
        <div class="reward-text">Google-play gift card</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Apple.png">
        <div class="reward-text">Apple-pay gift card</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/amazon.png">
        <div class="reward-text">Amazon gift card</div>
    </div>
    <div class="reward-item">
        <img src="/pictures/Spotify.png">
        <div class="reward-text">Spotify gift card</div>
    </div>
</div>


 <div class="footer">
    <div class="t1">
            <h1>Home</h1>
        </div>

        <div class="t2">
            <h2>map</h2>
        </div>

        <div class="t3">
            <h3>About us</h3>
        </div>
 </div>
</body>
</html>